<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/Assets/index.css">
    <title>Document</title>
</head>
<body>
<div class="main">
    <div class="logo"></div>
    <div class="subtract">
        <div class="rectangle1">
<p class="signup">Sign Up</p>
<label for="name" class="input1" >Name</label>
<input type="text"  class="label1">
<label for="email" class="input2">Email</label>
<input type="email"  class="label2">
<label for="password" class="input3">Password</label>
<input type="password"id="password" class="label3">

        </div>
    </div>    
</div>
</body>

</html>